#contents.bgcolor-white.pt1em.pb1em
  #main_cnt_wrapper

    .title-top-box
      .head-title
        = link_to root_path do
          %i.fas.fa-dumbbell
          Gotore
          %i.fas.fa-dumbbell
      .head-text
        新規登録
        まずはアカウントを作成してください。

    #yjContentsBody
      .yjContainer
        .form_box
          = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
            = devise_error_messages!
            .label
              = f.label :ユーザーネーム
              %br/
              = f.text_field :name, autofocus: true, :placeholder => 'ユーザーネームを入力'
            .label
              = f.label :メールアドレス
              %br/
              = f.email_field :email, autofocus: true, :placeholder => 'メールアドレスを入力'
            .label
              = f.label :パスワード
              - if @validatable
                %i
                  (#{@minimum_password_length} characters minimum)
              %br/
              = f.password_field :password, autocomplete: "off", :placeholder => 'パスワードを入力'
            .label
              = f.label :パスワード（確認）
              %br/
              = f.password_field :password_confirmation, autocomplete: "off", :placeholder => 'パスワードを入力（確認）'
            
            %button{type: 'submit', class: 'new-user'}
              ユーザー新規作成
            .more_link_box
              %strong すでにアカウントを持っていますか？
              = render "devise/shared/links"
