#contents.bgcolor-white.pt1em.pb1em
  #main_cnt_wrapper

    .title-top-box
      .head-title
        = link_to root_path do
          %i.fas.fa-dumbbell
          Gotore
          %i.fas.fa-dumbbell
      .head-text
        ログインしてGotoreを開始する。

    #yjContentsBody
      .yjContainer
        .form_box
          = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
            .label
              = f.label :メールアドレス
              %div
                = f.email_field :email, autofocus: true, :placeholder => 'メールアドレスを入力'
            .label
              = f.label :パスワード
              %div
                = f.password_field :password, autocomplete: "off", :placeholder => 'パスワードを入力'
            .row-login
              - if devise_mapping.rememberable?
                .col-xs-6
                  = f.check_box :remember_me
                  = f.label :パスワードを記憶
              %button{type: 'submit', class: 'new-user'}
                ログイン
          .more_link_box
            %strong まだアカウントを持っていませんか？
            = render "devise/shared/links"
