<%= render :partial => "shared/main-header" %>

<div class="contents-main">
  <div class="contents-post">
    <div class="contents-top">
      <%= image_tag 'my-page.jpg', class: "image" %>
      <div class="top-right">
        <div class="name-box">
          @gotore25
        </div>
        <div class="postdate-box">
          12月24日
        </div>
      </div>
    </div>
    <div class="contents-bottom">
      <div class="place-box">
        <i class="fas fa-map-marker-alt"></i>
        エニタイムなんば店
      </div>
      <div class="date-box">
        <i class="far fa-calendar-alt"></i>
        12月24日14時
      </div>
      <div class="title-box">
        一緒に筋トレしましょう！
      </div>
      <div class="text-box">
        筋トレ初心者です。
        胸と脚中心で合トレしましょう！
      </div>
    </div>
  </div>

  <div class="contents-post">
    <div class="contents-top">
      <%= image_tag 'my-page.jpg', class: "image" %>
      <div class="top-right">
        <div class="name-box">
          @gotore25
        </div>
        <div class="postdate-box">
          12月24日
        </div>
      </div>
    </div>

    <div class="contents-bottom">
      <div class="place-box">
        <i class="fas fa-map-marker-alt"></i>
        エニタイムなんば店
      </div>
      <div class="date-box">
        <i class="far fa-calendar-alt"></i>
        12月24日14時
      </div>
      <div class="title-box">
        一緒に筋トレしましょう！
      </div>
      <div class="text-box">
        筋トレ初心者です。
        胸と脚中心で合トレしましょう！
      </div>
    </div>
  </div>
  <div class="contents-post">
    <div class="contents-top">
      <%= image_tag 'my-page.jpg', class: "image" %>
      <div class="top-right">
        <div class="name-box">
          @gotore25
        </div>
        <div class="postdate-box">
          12月24日
        </div>
      </div>
    </div>

    <div class="contents-bottom">
      <div class="place-box">
        <i class="fas fa-map-marker-alt"></i>
        エニタイムなんば店
      </div>
      <div class="date-box">
        <i class="far fa-calendar-alt"></i>
        12月24日14時
      </div>
      <div class="title-box">
        一緒に筋トレしましょう！
      </div>
      <div class="text-box">
        筋トレ初心者です。
        胸と脚中心で合トレしましょう！
      </div>
    </div>
  </div>
  <div class="contents-post">
    <div class="contents-top">
      <%= image_tag 'my-page.jpg', class: "image" %>
      <div class="top-right">
        <div class="name-box">
          @gotore25
        </div>
        <div class="postdate-box">
          12月24日
        </div>
      </div>
    </div>

    <div class="contents-bottom">
      <div class="place-box">
        <i class="fas fa-map-marker-alt"></i>
        エニタイムなんば店
      </div>
      <div class="date-box">
        <i class="far fa-calendar-alt"></i>
        12月24日14時
      </div>
      <div class="title-box">
        一緒に筋トレしましょう！
      </div>
      <div class="text-box">
        筋トレ初心者です。
        胸と脚中心で合トレしましょう！
      </div>
    </div>
  </div>
  <div class="contents-post">
    <div class="contents-top">
      <%= image_tag 'my-page.jpg', class: "image" %>
      <div class="top-right">
        <div class="name-box">
          @gotore25
        </div>
        <div class="postdate-box">
          12月24日
        </div>
      </div>
    </div>

    <div class="contents-bottom">
      <div class="place-box">
        <i class="fas fa-map-marker-alt"></i>
        エニタイムなんば店
      </div>
      <div class="date-box">
        <i class="far fa-calendar-alt"></i>
        12月24日14時
      </div>
      <div class="title-box">
        一緒に筋トレしましょう！
      </div>
      <div class="text-box">
        筋トレ初心者です。
        胸と脚中心で合トレしましょう！
      </div>
    </div>
  </div>
  <div class="contents-post">
    <div class="contents-top">
      <%= image_tag 'my-page.jpg', class: "image" %>
      <div class="top-right">
        <div class="name-box">
          @gotore25
        </div>
        <div class="postdate-box">
          12月24日
        </div>
      </div>
    </div>

    <div class="contents-bottom">
      <div class="place-box">
        <i class="fas fa-map-marker-alt"></i>
        エニタイムなんば店
      </div>
      <div class="date-box">
        <i class="far fa-calendar-alt"></i>
        12月24日14時
      </div>
      <div class="title-box">
        一緒に筋トレしましょう！
      </div>
      <div class="text-box">
        筋トレ初心者です。
        胸と脚中心で合トレしましょう！
      </div>
    </div>
  </div>
  <div class="contents-post">
    <div class="contents-top">
      <%= image_tag 'my-page.jpg', class: "image" %>
      <div class="top-right">
        <div class="name-box">
          @gotore25
        </div>
        <div class="postdate-box">
          12月24日
        </div>
      </div>
    </div>

    <div class="contents-bottom">
      <div class="place-box">
        <i class="fas fa-map-marker-alt"></i>
        エニタイムなんば店
      </div>
      <div class="date-box">
        <i class="far fa-calendar-alt"></i>
        12月24日14時
      </div>
      <div class="title-box">
        一緒に筋トレしましょう！
      </div>
      <div class="text-box">
        筋トレ初心者です。
        胸と脚中心で合トレしましょう！
      </div>
    </div>
  </div>
  <div class="contents-post">
    <div class="contents-top">
      <%= image_tag 'my-page.jpg', class: "image" %>
      <div class="top-right">
        <div class="name-box">
          @gotore25
        </div>
        <div class="postdate-box">
          12月24日
        </div>
      </div>
    </div>

    <div class="contents-bottom">
      <div class="place-box">
        <i class="fas fa-map-marker-alt"></i>
        エニタイムなんば店
      </div>
      <div class="date-box">
        <i class="far fa-calendar-alt"></i>
        12月24日14時
      </div>
      <div class="title-box">
        一緒に筋トレしましょう！
      </div>
      <div class="text-box">
        筋トレ初心者です。
        胸と脚中心で合トレしましょう！
      </div>
    </div>
  </div>
  <div class="contents-post">
    <div class="contents-top">
      <%= image_tag 'my-page.jpg', class: "image" %>
      <div class="top-right">
        <div class="name-box">
          @gotore25
        </div>
        <div class="postdate-box">
          12月24日
        </div>
      </div>
    </div>

    <div class="contents-bottom">
      <div class="place-box">
        <i class="fas fa-map-marker-alt"></i>
        エニタイムなんば店
      </div>
      <div class="date-box">
        <i class="far fa-calendar-alt"></i>
        12月24日14時
      </div>
      <div class="title-box">
        一緒に筋トレしましょう！
      </div>
      <div class="text-box">
        筋トレ初心者です。
        胸と脚中心で合トレしましょう！
      </div>
    </div>
  </div>
  <div class="contents-post">
    <div class="contents-top">
      <%= image_tag 'my-page.jpg', class: "image" %>
      <div class="top-right">
        <div class="name-box">
          @gotore25
        </div>
        <div class="postdate-box">
          12月24日
        </div>
      </div>
    </div>

    <div class="contents-bottom">
      <div class="place-box">
        <i class="fas fa-map-marker-alt"></i>
        エニタイムなんば店
      </div>
      <div class="date-box">
        <i class="far fa-calendar-alt"></i>
        12月24日14時
      </div>
      <div class="title-box">
        一緒に筋トレしましょう！
      </div>
      <div class="text-box">
        筋トレ初心者です。
        胸と脚中心で合トレしましょう！
      </div>
    </div>
  </div>
  <div class="contents-post">
    <div class="contents-top">
      <%= image_tag 'my-page.jpg', class: "image" %>
      <div class="top-right">
        <div class="name-box">
          @gotore25
        </div>
        <div class="postdate-box">
          12月24日
        </div>
      </div>
    </div>

    <div class="contents-bottom">
      <div class="place-box">
        <i class="fas fa-map-marker-alt"></i>
        エニタイムなんば店
      </div>
      <div class="date-box">
        <i class="far fa-calendar-alt"></i>
        12月24日14時
      </div>
      <div class="title-box">
        一緒に筋トレしましょう！
      </div>
      <div class="text-box">
        筋トレ初心者です。
        胸と脚中心で合トレしましょう！
      </div>
    </div>
  </div>
  <div class="contents-post">
    <div class="contents-top">
      <%= image_tag 'my-page.jpg', class: "image" %>
      <div class="top-right">
        <div class="name-box">
          @gotore25
        </div>
        <div class="postdate-box">
          12月24日
        </div>
      </div>
    </div>

    <div class="contents-bottom">
      <div class="place-box">
        <i class="fas fa-map-marker-alt"></i>
        エニタイムなんば店
      </div>
      <div class="date-box">
        <i class="far fa-calendar-alt"></i>
        12月24日14時
      </div>
      <div class="title-box">
        一緒に筋トレしましょう！
      </div>
      <div class="text-box">
        筋トレ初心者です。
        胸と脚中心で合トレしましょう！
      </div>
    </div>
  </div>
  <div class="contents-post">
    <div class="contents-top">
      <%= image_tag 'my-page.jpg', class: "image" %>
      <div class="top-right">
        <div class="name-box">
          @gotore25
        </div>
        <div class="postdate-box">
          12月24日
        </div>
      </div>
    </div>

    <div class="contents-bottom">
      <div class="place-box">
        <i class="fas fa-map-marker-alt"></i>
        エニタイムなんば店
      </div>
      <div class="date-box">
        <i class="far fa-calendar-alt"></i>
        12月24日14時
      </div>
      <div class="title-box">
        一緒に筋トレしましょう！
      </div>
      <div class="text-box">
        筋トレ初心者です。
        胸と脚中心で合トレしましょう！
      </div>
    </div>
  </div>
  <div class="contents-post">
    <div class="contents-top">
      <%= image_tag 'my-page.jpg', class: "image" %>
      <div class="top-right">
        <div class="name-box">
          @gotore25
        </div>
        <div class="postdate-box">
          12月24日
        </div>
      </div>
    </div>

    <div class="contents-bottom">
      <div class="place-box">
        <i class="fas fa-map-marker-alt"></i>
        エニタイムなんば店
      </div>
      <div class="date-box">
        <i class="far fa-calendar-alt"></i>
        12月24日14時
      </div>
      <div class="title-box">
        一緒に筋トレしましょう！
      </div>
      <div class="text-box">
        筋トレ初心者です。
        胸と脚中心で合トレしましょう！
      </div>
    </div>
  </div>
  <div class="contents-post">
    <div class="contents-top">
      <%= image_tag 'my-page.jpg', class: "image" %>
      <div class="top-right">
        <div class="name-box">
          @gotore25
        </div>
        <div class="postdate-box">
          12月24日
        </div>
      </div>
    </div>

    <div class="contents-bottom">
      <div class="place-box">
        <i class="fas fa-map-marker-alt"></i>
        エニタイムなんば店
      </div>
      <div class="date-box">
        <i class="far fa-calendar-alt"></i>
        12月24日14時
      </div>
      <div class="title-box">
        一緒に筋トレしましょう！
      </div>
      <div class="text-box">
        筋トレ初心者です。
        胸と脚中心で合トレしましょう！
      </div>
    </div>
  </div>
  
</div>
