= render "shared/main-header"
.contents-main
  - if @posts.present?
    - @posts.each do |post|
      = link_to post_path(post.id) do
        .contents-post
          .contents-top
            = image_tag post.user.image.url, class: "image"
            .top-right
              .name-box
                = "@#{post.user.name}"
              .postdate-box
                = post.created_at.strftime('%Y/%m/%d %H:%M')
          .contents-bottom
            .place-box
              %i.fas.fa-map-marker-alt
              = post.place
            .date-box
              %i.far.fa-calendar-alt
              = post.date
            .title-box
              = post.title
            .text-box
              = post.text
          .action-box
            .like-area
              %i.far.fa-heart
              1
            .comment-area
              %i.far.fa-comment-alt
              = post.comments.length