= render :partial => "shared/main-header"
.contents-new
  .fit-box
    .contents-top
      = image_tag current_user.image.url, class: "image"
      .top-right
        .name-box
          = current_user.name

    .contents-bottom
      = form_for(@post) do |f|
        .main-box
          .main-place
            = f.label :place, "開催場所"
            = f.text_field :place,{class: 'input-place', placeholder: "例)エニタイム 難波"}

          .main-date
            = f.label :date, "開催日時"
            = f.text_field :date,{class: 'input-date', placeholder: "例)2020年1月18日14時"}

          .main-title
            = f.label :title, "タイトル"
            = f.text_field :title,{class: 'input-title', placeholder: "タイトル（必須40字まで）"}
              
          .main-text
            = f.label :description, "合トレ内容"
            = f.text_area :text, {class: 'textarea', rouws:5 , placeholder:"詳細内容（必須1,000字まで）"}
        .main-bottom
          .text-notes
            %p  
              合トレ内容を分かりやすく記入してください
          %button{type: 'submit', class: 'submitBtn'}
            投稿する
          = link_to root_path do
            %button{type: 'button'}
              もどる







