= render "shared/main-header"
.contents-show
  .fit-box
    .contents-top
      = image_tag 'my-page.jpg', class: "image"
      .top-right
        .name-box
          = "@#{@post.user.name}"
        .postdate-box
          = @post.created_at.strftime('%Y/%m/%d %H:%M')
    .contents-bottom
      .place-box
        %i.fas.fa-map-marker-alt
        = @post.place
      .date-box
        %i.far.fa-calendar-alt
        = @post.date
      .title-box
        = @post.title
      .text-box
        = @post.text
    .action-box
      .like-area
        %i.far.fa-heart
        10
      .comment-area
        %i.far.fa-comment-alt
        3
    .contents-comments
      %h4 ＜コメント一覧＞
      - if @comments.present?
        - @comments.each do |comment|
          .comment-box
            .comment-user
              = image_tag 'my-page.jpg', class: "image"
              .user-right
                .user-name
                  = "@#{comment.post.user.name}"
                .comment-date
                  = comment.post.created_at.strftime('%Y/%m/%d %H:%M')
            .comment-text
              = comment.comment

    .contents-form
      = form_tag("/posts/#{@post.id}/comments", method: :post) do
        %textarea.form-text{type: "text", name: "comment"}
        %button.send-btn{type: "submit"}
          %span コメントする
